[submodule "_build/cl-interpol"]
	path = _build/cl-interpol
	url = https://github.com/edicl/cl-interpol
	shallow = true
[submodule "_build/symbol-munger"]
	path = _build/symbol-munger
	url = https://github.com/AccelerationNet/symbol-munger
	shallow = true
[submodule "_build/cl-unicode"]
	path = _build/cl-unicode
	url = https://github.com/edicl/cl-unicode
	shallow = true
[submodule "_build/named-readtables"]
	path = _build/named-readtables
	url = https://github.com/melisgl/named-readtables
	shallow = true
[submodule "_build/cl-ppcre"]
	path = _build/cl-ppcre
	url = https://github.com/edicl/cl-ppcre
	shallow = true
[submodule "_build/alexandria.git"]
	path = _build/alexandria.git
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
	shallow = true
[submodule "_build/iterate.git"]
	path = _build/iterate.git
	url = https://gitlab.common-lisp.net/iterate/iterate.git
	shallow = true
[submodule "_build/closer-mop"]
	path = _build/closer-mop
	url = https://github.com/pcostanza/closer-mop
	shallow = true
[submodule "_build/lisp-unit2"]
	path = _build/lisp-unit2
	url = https://github.com/AccelerationNet/lisp-unit2
	shallow = true
[submodule "_build/moptilities"]
	path = _build/moptilities
	url = https://github.com/gwkkwg/moptilities/
	shallow = true
